<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="currentCulture" value="de-DE" />
    <add key="service" value="My.Service.Adapter, My.Service" />
  </appSettings>
  <connectionStrings>
    <add name="MyDatabase1" connectionString="My connection string" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Test.Assembly1" publicKeyToken="1234567890" culture="de-De" />
        <bindingRedirect oldVersion="1.9.47.0-2.29.47.0" newVersion="2.76.0.3" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <add name="MyDatabase1" connectionString="My connection string" />
  </connectionStrings>
</configuration>