<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="currentCulture" value="de-DE" />
    <add key="service" value="My.Service.Adapter, My.Service" />
  </appSettings>
  <connectionStrings>
    <add name="MyDatabase1" connectionString="My connection string" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1" />
  </runtime>
  <connectionStrings>
    <add name="MyDatabase1" connectionString="My connection string" />
  </connectionStrings>
</configuration>